  
    html, body {
      background-image: url(https://t4.ftcdn.net/jpg/01/28/98/53/360_F_128985367_mNdX0b56w6OcgiyUDnZwukpK1bkpfWwI.jpg);
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; 
    
    }

    .frame {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }


      
.time-date-container {
  position: fixed;
  top: 15px;
  right: 55px;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;

}

.time {
  font-size: 30px;
  font-weight: bold;
 
}

.date {
  font-size: 18px;
}

.back{
  top: 50px;
  margin-left: 55px;
  font-family: "Starwars2";
  color: white;
  font-size: 30px;
  position: fixed
  
}
  @font-face {
    font-family: Starwars2;
    src: url(../fonts/starwars2.ttf);
  }

  .music-player {
    margin-top: 460px;
    margin-left: 770px;
    background: #333;
    color: #fff;
    border-radius: 10px;
    width: 320px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.player-header h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.player-controls audio {
    width: 100%;
    border-radius: 5px;
}

.track-info {
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
}

.music-player1 {
  margin-top: -210px;
  margin-left: 370px;
  background: #333;
  color: #fff;
  border-radius: 10px;
  width: 320px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.player-header1 h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.player-controls1 audio {
  width: 100%;
  border-radius: 5px;
}

.track-info1 {
  margin-top: 10px;
  font-size: 14px;
  color: #bbb;
}
